

#over img {
	/* margin-left: auto; */
	margin: auto;
	display: block;
}


#wiki
{
     height: 100%;
   height: 100%;
   width: 100%;
    /* border: 10px double red; */
}

.site-wrapper
{
    background-color: black;
}