

#over img {
	/* margin-left: auto; */
	margin: auto;
	display: block;
}
    

#wiki
{
    
   height: 100%;
   width: 100%;
    /* border: 10px double red; */
}

.site-wrapper
{
    background-color: black;
}

.lead
{
    display: inline;
    text-align: center;
    margin-left: 16%;
}

.wikiCheck
{
    border:5px solid red;
}

/* social mdia links  */
